@import url("./app/modules/home/components/todo-list/todo-list.component.css");

body {
    background-color: #E3E9FF;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

:root {
  --fonte-primaria: "Roboto";
  --cor-primaria: #000000;
}
